/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  body {
      background-image: url('fondo3.jpeg'); 
      background-size: cover;            
      background-position: center;       
      background-repeat: no-repeat;      
      height: 100vh;                    
      margin: 0;
      font-family: 'Comic Sans MS', cursive, sans-serif;
    }

/* Header */
header {
  background-color: #6da3f5;
  color: rgb(255, 255, 255);
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  margin-right: 10px;
}

.logo-text {
  font-size: 20px;
}

/* Main content */
main {
  max-width: 800px;
  margin: 0 auto;
}

/* Welcome Box */
.welcome-box {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* Card component */
.card {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Form styles */
.exam-creator form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

button {
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
 background-color: #6da3f5;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #303f9f;
}

/* Vista previa */
#vistaPrevia .card {
  margin-bottom: 10px;
  border-left: 5px solid #3f51b5;
  padding-left: 15px;
}
}